@model Portal.Noticias.Aplicacao.Models.TagModel

<h2>Editar Tag</h2>

<form asp-action="Atualizar" method="post">
    
    <input type="hidden" asp-for="Id" />

    <div class="row mb-3">
        <partial name="_Formulario" model="Model" />
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
